
{% if k3s_install_type == 'server' and k3s_node_token|default('') != '' %}
K3S_TOKEN="{{ k3s_node_token }}"
{% endif %}

{% if k3s_install_type == 'agent' and k3s_agent_token|default('') != '' %}
K3S_TOKEN="{{ k3s_agent_token }}"
{% endif %}

{% for item in k3s_environment | dict2items %}
{{ item.key }}="{{ item.value }}"
{% endfor %}
